a{
	text-decoration: none;
}

div{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 60px;
	margin-right: 60px;
}

h3{
	font-size: 72px;
	color:#EB5757;
	padding-top:70px; 
	padding-left: 200px;
}

nav{
	text-align: center;
}

nav li{
	display: inline-block;
	font-size: 24px;
	margin-left: : 86px;
	margin-right: 86px;
}

footer{
	color:black;
	font-weight: lighter;
	font-size: 36px;
	text-align: center;
	border-top:1px solid black;
	padding: 5px;
}

.aboutMe{
	line-height: 5px;
	font-size: 36px;
	padding-top: 40px;
	padding-left: 165px;
}

.abourMeImg{

}

.first-contanier{
	display: flex;
	justify-content: space-between;
}

.Logo{
	text-align: center;
	margin-top: 55px;
	margin-bottom: 19px;
}